body {
    background-color: rgb(223, 223, 223);
}

.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

#nav {
    /* background-color: #1A1A1D; */
    background-color: #2F4454;
}

.bgimg-1, .bgimg-2 {
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
  background-image: url("../images/sign-night.jpg");
  height: 550px;
}

.bgimg-2 {
    background-image: url("../images/fountain-night.jpg");
    height: 500px;
    position: relative;
}

.shadow-1 {
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
}

.indent {
    text-indent: 35px;
}

.hero-img {
    height: 100vh;
    min-height: 500px;
}

.letter-img, .park-img {
    max-width: 25vw;
}

.park-img {
    float: left;
}

.letter-btn {
    color: white;
    background-color: #2F4454;
    padding: 10px 35px 12px 35px;
    font-size: 19px;
    border-radius: 7px;
}

.letter-btn:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgb(26, 37, 46); 
}

/* Letters Page */

.letter-img {
    float: right;
}

.t19 {
    font-size: 19px;
}



