body {
    background-color: #d0d2d3;
}

#nav {
    /* background-color: #1A1A1D; */
    background-color: #2F4454;
}

.bgimg-1, .bgimg-2 {
    height: 600px;
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
  /* The image used */
  background-image: url("../images/sign-night.jpg");
}

.bgimg-2 {
    /* The image used */
    background-image: url("../images/fountain-night.jpg");
    /* Set a specific height */
    height: 500px;
    position: relative;
}

.shadow-1 {
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
}

.indent {
    text-indent: 35px;
}

.hero-img {
    height: 100vh;
    min-height: 500px;
}

.letter-img {
    max-width: 25vw;
    float: left;
}

.about-text {
    font-size: 19px;
}

