body {
    background-color: #aab0b4;
}

#nav {
    /* background-color: #1A1A1D; */
    background-color: #2F4454;
}

.shadow-1 {
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.4);
}

.indent {
    text-indent: 35px;
}

.hero-img {
    height: 100vh;
    min-height: 500px;
}

.letter-img {
    max-width: 25vw;
    float: left;
}

.about-text {
    font-size: 19px;
}

